body, html{
	margin:0;padding:0;
	font-family: "Helvetica", sans-serif;
	font-size: 1.2em;
}

section{
	max-width: 1220px;
	width: 88%;
	margin: 10px auto 80px;
}

h2{
	font-size: 1.3em;
}

h3{
	margin: 6px 0;
}

ul{
	list-style: none;
	margin: 6px 0;
	font-size: 0.8em;
	padding: 0;
}

.svgbox{
	font-size: 9px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

.color_98abc5 rect{
	fill: #98abc5;
}
.color_8a89a6 rect{
	fill: #8a89a6;
}
.color_7b6888 rect{
	fill: #7b6888;
}
.color_6b486b rect{
	fill: #6b486b;
}
.color_a05d56 rect{
	fill: #a05d56;
}
.color_d0743c rect{
	fill: #d0743c;
}
.color_ff8c00 rect{
	fill: #ff8c00;
}


.color_98abc5 path{
	fill: #98abc5;
}
.color_8a89a6 path{
	fill: #8a89a6;
}
.color_7b6888 path{
	fill: #7b6888;
}
.color_6b486b path{
	fill: #6b486b;
}
.color_a05d56 path{
	fill: #a05d56;
}
.color_d0743c path{
	fill: #d0743c;
}
.color_ff8c00 path{
	fill: #ff8c00;
}